{
  "presets": ["es2015", "es2016", "stage-2",  "stage-3"],
  "plugins": ["transform-es2015-modules-commonjs"],
  "env": {
    "test": {
      "presets": ["es2015", "es2016", "stage-2",  "stage-3"]
    }
  }
}
